@import "~styles/mixin";
@import "~styles/constants";

.NavOptions {
  cursor: pointer;
  @include flex(row, space-around, stretch);
  i {
    font-size: 18px;
    padding-right: 13px;
    line-height: 21px;
  }

  &:hover {
    text-shadow: 0px 0px 10px #bbb;
  }

  &--active {
    color: $primary;
  }
}
